p {
   color: salmon;
   margin: 20px;
   font-size: medium;
   font-family: Arial, Helvetica, sans-serif
}

.gago {
    font: small;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#zago {
    color: seagreen;
    margin: 10px;
}

#zago p {
    color: rgb(241, 3, 241);
    text-align: left;
    
}
.testemargem {
    color: slategray !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: larger !important;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-indent: 15px;
    text-shadow: teal solid 8px;
    text-transform: capitalize;
    margin: 20px 10px 10px 10px;
}

#margens {
    width: 300px;
    height: 400px;
    background: violet;
    color: tomato;
    margin: auto;
    text-align: center;
    padding: 60px;
}

#container {
   width: 200px;
   height: 200px;
   background-color: black;
   color: blanchedalmond;
   float: left;
   margin-right: 15px;
}

.textosemflutuação {
    clear: both;
}

#menu_container {
    width: 100px;
    height: 50px;
    background: coral;
    color: darkblue;
}

#menu{
    width: 1000px;
    height: 600px;
    line-height: 50px;
}