body{
    margin:0;
    padding:0;
}

#menu_container {
    width: 990px;
    height: 50px;
    background: coral;
    color: darkblue;
}

#menu{
    width: 990px;
    height: 50px;
    line-height: 50px;
    margin:0 auto 0 auto
}

#menu ul {
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    list-style-type:none;
    font-size:14px;
}

#menu ul li{
float:left;
position: relative;
}

#menu ul li a{
    text-decoration:none;
    float: left;
    color: blue;
    display: block;
    width: auto;
    line-height: 50px;
    padding-right: 10px;
    padding-left:10px; 
}

#menu ul li a:hover{
    background: black;
    color: chartreuse;
}