body{
    margin:0px;
    padding:0;
}

#menu_container {
    width: 200px;
    height: 50px;
    background: coral;
    color: #0000f0;
    float: left;
}

#menu{
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin:left;
    position:left;
}


#menu ul {
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    list-style-type:none;
    font-size:14px;
}

#menu ul li{
position: auto;
background: coral;
color: #0000f0;
}

#menu ul li a{
    text-decoration:none;
    color: blue;
    display: block;
    width: auto;
    line-height: 50px;
    padding-left:10px; 
}

#menu ul li a:hover ul{
    background: black;
    color: chartreuse;
    display: block;
    line-height: 50px;
    float:left;
    width: 200px;
}

#menu ul li ul {
    display:none;
    line-height: 50px;
    position: absolute;
    top: 50px;
    left: 200px;
    height: 200px;
    float: left;
    width: 200px;
}

#menu ul li:hover ul {
    background: rgb(247, 2, 2);
    color: chartreuse;
    display: block;
    line-break: 50px;
    float: left;
    height: 50px;
}

#menu ul li ul a{
    background: rgb(28, 167, 63);
    color: chartreuse;
    line-height: 50px;
    height: 50px;
    margin: 0px;
}

#menu ul li:hover {
    background: black;
    color: chartreuse;
}